<div class="global-container">

    <div class="row-decor">
        <img class="decor" src="assets/decor_top_start.png" alt="decor top start">
        <a class="color-white no-text-decoration" [routerLink]="['/']">
            <h1 class="text-center text-bold text-big mt-4">FAREWELL OF MY YOUTH</h1>
        </a>
        <img class="decor" src="assets/decor_top_end.png" alt="decor top end">
    </div> 

    <div class="limit-container">
        <router-outlet></router-outlet>
    </div>

    <div class="row-decor">
        <img class="decor" src="assets/decor_bottom_start.png" alt="decor bottom start">
        <img class="decor" src="assets/decor_bottom_end.png" alt="decor bottom end">         
    </div>    
</div>
