<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1200;">
    <ngb-toast *ngIf="showAlertSuccess" [autohide]="true" [delay]="5000" class="bg-success text-light text-medium text-family">
        Yaay! See you at the party!
    </ngb-toast>

    <ngb-toast *ngIf="showAlertError" [autohide]="true" [delay]="5000" class="bg-danger text-light text-medium text-family">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#fff" width="24" height="24" viewBox="0 0 24 24">
            <path
                d="M10.872 6.831l1.695 3.904 3.654-1.561-1.79 3.426 3.333.954-3.417 1.338 2.231 4.196-4.773-2.582-2.869 2.287.413-3.004-3.792-.726 2.93-1.74-1.885-2.512 3.427.646.843-4.626zm-.786-6.831l-1.665 9.119-6.512-1.228 3.639 4.851-5.548 3.294 7.108 1.361-.834 6.076 5.742-4.577 9.438 5.104-4.288-8.064 6.834-2.677-6.661-1.907 3.25-6.22-6.98 2.982-3.523-8.114z"
            />
        </svg>
        Oops! Something went wrong, try again.
    </ngb-toast>
</div>



<div *ngIf="areBooks()" class="col-subtitle align-items-center">
    <p class="text-center m-0 text-light text-small">The images are for reference only, it may be a different edition than the one shown.</p>
    <p class="text-center m-0 text-light text-xsmall">With the “Select” button you can mark the book you are going to take as a gift.</p>        
</div>

<div class="flex-container mt-4">    
    <div class="row row-cols-2 row-cols-md-4" *ngIf="areBooks()">
        <div *ngFor="let book of bookFilter()" class="card-book card p-4">
            <img src="{{book.cover}}" alt="cover of book">
            <div class="card-body align-items-center justify-items-center">
                <h5 class="card-title text-small color-white text-center">{{book.name}}</h5>
                <p class="card-text text-xsmall color-white text-center">{{book.author}}</p>
                <button class="btn btn-primary " (click)="selectBook(book)" data-bs-toggle="modal" data-bs-target="#confirmBook">Select</button>
            </div>
        </div>

        <div *ngFor="let book of bookFilter()" class="card-list p-1">
            <div class="card-list-body">
                <img src="{{book.cover}}" alt="cover of book">
                <div class="card-list-text">
                    <h5 class="m-0 color-white">{{book.name}}</h5>
                    <p class="m-0 text-xsmall color-white">{{book.author}}</p>
                    <button class="btn btn-primary text-xsmall align-self-end" (click)="selectBook(book)" data-bs-toggle="modal" data-bs-target="#confirmBook">Seleccionar</button>
                </div>
            </div>
            <img class="separator" src="assets/separator.svg" alt="separator of book">            
        </div>
    </div>

    <div class="flex-container  p-4 m-4" *ngIf="!areBooks()">
        <img class="image-hand align-self-center" src="assets/hand.png" alt="hand">
        <h1 *ngIf="loadingBooks" class="text-center text-bold text-big">Loading...</h1>
        <h1 *ngIf="!loadingBooks" class="text-center text-bold text-big">Oh, I have already received all the books I wanted.</h1>
    </div>

</div>


<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="confirmBook" tabindex="-1" aria-labelledby="confirmBook" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down align-items-center">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card p-4">
                    <img src="{{bookSelected.cover}}" class="card-img-modal align-self-center" alt="cover of book">
                    <div class="card-body align-self-center justify-items-center">
                        <h5 class="card-title text-small color-white text-center">{{bookSelected.name}}</h5>
                        <p class="card-text text-xsmall color-white text-center">{{bookSelected.author}}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-space-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="checkBook()">Yes, this is the one I'm buying</button>
            </div>
        </div>
    </div>
</div>