.card {
    background-color: black;
    border-color: none;
    box-shadow: none;
}
.card-body {
    display: flex;
    flex-direction: column;
    padding: 3px;
}

.card img {
    max-width: 256px;
    max-height: 172px;
    align-self: center;
    margin-bottom: 1rem;
}

.inside-card {
    border-color: rgba(128, 128, 128, 0.321);
    box-shadow: -2px -2px 4px 2px rgba(118, 110, 110, 0.608);
}

.image-hand {
    max-width: 256px;
    max-height: 172px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.modal-content {
    background-color: black;
    max-height: min-content;
}

.modal-header, .modal-footer {
    border: none !important;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.modal-body {
    max-height: min-content;
    border: none !important;
}

.btn-close {
    background: url("../../assets/close.svg") !important;
}

.card-list {
    display: none;
}

.card-list-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.card-list-body img {
    max-width: 128px;
    max-height: 86px;
    align-self: center;
}

.card-list-text {
    display: flex;
    flex-direction: column;
    min-width: 80%;
    gap: 0.4rem;
    
}

.card-list .separator {
    width: 40%;
    opacity: 0.4; 
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-self: center;
}

@media screen and (max-width: 499px) {
    .card-book {
        display: none;
    }

    .card-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
    }
}