<div class="flex-container">
    <h3 class="text-center text-regular text-regular">LISTA DE REGALOS</h3>
    <img class="image-30s align-self-center" src="assets/30s.png" alt="30s">

    <div class="col-subtitle align-items-center">
        <h6 class="text-center m-0 text-semibold text-medium">These are some books I would like to have in my library.</h6>
        <h6 class="text-center m-0 text-semibold text-medium">I like the NEW book smell as well as the USED book smell.</h6>
        <h6 class="text-center m-0 text-semibold text-medium">I don't like surprises, that's why this list exists.</h6>    
    </div>

    <div class="col-paragraph align-items-center">
        <p class="text-center m-0 text-light text-small">I recommend consulting the list when you go to buy it to avoid more than one person with the same book.</p> 
    </div>

    <button class="btn btn-primary align-self-center" (click)="goToList()">Go to list</button>
</div>