.image-30s {
    width: 128px;
    height: 128px;
}

.image-hand {
    width: 25px;
    height: 45px;
    margin-bottom: 24px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}